<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>752795093265-a1r724smba2j7rjab3omhendbo5gqqou.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.752795093265-a1r724smba2j7rjab3omhendbo5gqqou</string>
	<key>API_KEY</key>
	<string>AIzaSyASUyrr8xVVtHN-R4OGkW8-RGSA-o2JmBM</string>
	<key>GCM_SENDER_ID</key>
	<string>752795093265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xheldon.swift-learn</string>
	<key>PROJECT_ID</key>
	<string>xheldon-swift-learn</string>
	<key>STORAGE_BUCKET</key>
	<string>xheldon-swift-learn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:752795093265:ios:47f6e605a46291116ee4b0</string>
</dict>
</plist>